<div class="menu-lateral">
  <div class="menu-lateral__close">
    <button mat-icon-button aria-label="Close" (click)="eventLink()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <img src="assets/images/logos/masterball-logo.svg" alt="Logotipo Masterball" class="menu-lateral__logo" routerLink="/home">
  <mat-selection-list #menuList [multiple]="false" (click)="eventLink()">
    <mat-list-option routerLink="/home" class="menu-lateral__inactive notranslate" routerLinkActive="menu-lateral__linkActive">
      <mat-icon mat-list-icon alt="Home" class="material-icons-outlined">home</mat-icon>
      Home
    </mat-list-option>

    <mat-list-option routerLink="/pokedex" class="menu-lateral__inactive notranslate" routerLinkActive="menu-lateral__linkActive">
      <mat-icon mat-list-icon alt="Pokédex" class="material-icons-two-tone">catching_pokemon</mat-icon>
      Pokédex
    </mat-list-option>

    <mat-list-option routerLink="/games" class="menu-lateral__inactive notranslate" routerLinkActive="menu-lateral__linkActive">
      <mat-icon mat-list-icon alt="Games" class="material-icons-outlined">games</mat-icon>
      Games
    </mat-list-option>
  </mat-selection-list>
</div>
