<div class="menu-lateral">
  <div class="menu-lateral__close">
    <button mat-icon-button aria-label="Close Menu" matTooltip="Close" (click)="eventLink()">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <div class="menu-lateral__menu">
    <button *ngIf="!showMenuDesktop" mat-icon-button matTooltip="Menu" aria-label="Open menu details" (click)="closeOrOpenMenu(true)">
      <mat-icon>menu</mat-icon>
    </button>
    <button *ngIf="showMenuDesktop" mat-icon-button aria-label="Close Menu" matTooltip="Close" (click)="closeOrOpenMenu(false)">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <img *ngIf="showMenuDesktop" src="assets/images/logos/masterball-logo.svg" [@slideInImage] alt="Logotipo Masterball" class="menu-lateral__logo" routerLink="/home">
  <mat-selection-list #menuList [multiple]="false" (click)="eventLink()">

    <mat-list-option routerLink="/home" class="menu-lateral__inactive notranslate" routerLinkActive="menu-lateral__linkActive">
      <mat-icon mat-list-icon alt="Home" class="material-icons-outlined">home</mat-icon>
      <span *ngIf="showMenuDesktop" [@slideIn]>Home</span>
    </mat-list-option>

    <mat-list-option routerLink="/pokedex" class="menu-lateral__inactive notranslate" routerLinkActive="menu-lateral__linkActive">
      <mat-icon mat-list-icon alt="Pokédex" class="material-icons-two-tone">catching_pokemon</mat-icon>
      <span *ngIf="showMenuDesktop" [@slideIn]>Pokédex</span>
    </mat-list-option>

    <mat-list-option routerLink="/games" class="menu-lateral__inactive notranslate" routerLinkActive="menu-lateral__linkActive">
      <mat-icon mat-list-icon alt="Games" class="material-icons-outlined">games</mat-icon>
      <span *ngIf="showMenuDesktop" [@slideIn]>Games</span>
    </mat-list-option>

  </mat-selection-list>
</div>
