.view-more {
  justify-self: flex-end;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;

  button {
    font-size: 1rem;
    padding: 0.5rem 1.25rem;
    border-radius: 100px;
    transition: .25s;
    font-family: "Fredoka One";
    width: 100%;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
  }

  &__enable {
    background-color: transparent;
    border: 2.5px solid var(--solid-purple);

    display: grid;
    grid-column: 3;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;

    &:hover {
      background-color: var(--solid-purple);
      border: 2.5px solid var(--solid-purple);
      color: var(--white);
    }
  }

  &__loading {
    background-color: var(--light-gray);
    border: 2.5px solid var(--transparent-black);

    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (min-width: 700px) {
  .view-more {
    padding: 1rem;

    button {
      width: 50%;
    }
  }
}

@media screen and (min-width: 1200px) {
  .view-more {
    button {
      width: 33%;
    }
  }
}
