// background page
$bg-page-bug: #d4dd93;
$bg-page-dark: #a4958a;
$bg-page-dragon: #b99ff9;
$bg-page-electric: #FBE385;
$bg-page-fairy: #f5c7d2;
$bg-page-fighting: #e1a09c;
$bg-page-fire: #f2cba0;
$bg-page-flying: #d3c7f7;
$bg-page-ghost: #ad9fc3;
$bg-page-grass: #91caa5;
$bg-page-ground: #e6cd8a;
$bg-page-ice: #b4e2e2;
$bg-page-normal: #d4d4be;
$bg-page-poison: #cb97cb;
$bg-page-psychic: #fda1be;
$bg-page-rock: #d2c281;
$bg-page-steel: #cdcdde;
$bg-page-water: #99cfe0;

// backgroung icon
$bg-icon-bug: #a8b820;
$bg-icon-dark: #705848;
$bg-icon-dragon: #7038f8;
$bg-icon-electric: #f7ca17;
$bg-icon-fairy: #ea839a;
$bg-icon-fighting: #c03028;
$bg-icon-fire: #fba54c;
$bg-icon-flying: #a890f0;
$bg-icon-ghost: #705898;
$bg-icon-grass: #25a81c;
$bg-icon-ground: #d1a42b;
$bg-icon-ice: #73caca;
$bg-icon-normal: #a8a878;
$bg-icon-poison: #a040a0;
$bg-icon-psychic: #f85888;
$bg-icon-rock: #b8a038;
$bg-icon-steel: #a4a4bb;
$bg-icon-water: #539DDF;

@mixin type($color) {
  background-color: $color;
  border-color: $color;
}

.type-page {
  color: var(--white);

  &__bug {
    @include type($bg-page-bug);
  }
  &__dragon {
    @include type($bg-page-bug);
  }
  &__dark {
    @include type($bg-page-dark);
  }
  &__dragon {
    @include type($bg-page-dragon);
  }
  &__electric {
    @include type($bg-page-electric);
  }
  &__fairy {
    @include type($bg-page-fairy);
  }
  &__fighting {
    @include type($bg-page-fighting);
  }
  &__fire {
    @include type($bg-page-fire);
  }
  &__flying {
    @include type($bg-page-flying);
  }
  &__ghost {
    @include type($bg-page-ghost);
  }
  &__grass {
    @include type($bg-page-grass);
  }
  &__ground {
    @include type($bg-page-ground);
  }
  &__ice {
    @include type($bg-page-ice);
  }
  &__normal {
    @include type($bg-page-normal);
  }
  &__poison {
    @include type($bg-page-poison);
  }
  &__psychic {
    @include type($bg-page-psychic);
  }
  &__rock {
    @include type($bg-page-rock);
  }
  &__steel {
    @include type($bg-page-steel);
  }
  &__water {
    @include type($bg-page-water);
  }
}

.type-icon {
  &__bug {
    @include type($bg-icon-bug);
  }
  &__dragon {
    @include type($bg-icon-bug);
  }
  &__dark {
    @include type($bg-icon-dark);
  }
  &__dragon {
    @include type($bg-icon-dragon);
  }
  &__electric {
    @include type($bg-icon-electric);
  }
  &__fairy {
    @include type($bg-icon-fairy);
  }
  &__fighting {
    @include type($bg-icon-fighting);
  }
  &__fire {
    @include type($bg-icon-fire);
  }
  &__flying {
    @include type($bg-icon-flying);
  }
  &__ghost {
    @include type($bg-icon-ghost);
  }
  &__grass {
    @include type($bg-icon-grass);
  }
  &__ground {
    @include type($bg-icon-ground);
  }
  &__ice {
    @include type($bg-icon-ice);
  }
  &__normal {
    @include type($bg-icon-normal);
  }
  &__poison {
    @include type($bg-icon-poison);
  }
  &__psychic {
    @include type($bg-icon-psychic);
  }
  &__rock {
    @include type($bg-icon-rock);
  }
  &__steel {
    @include type($bg-icon-steel);
  }
  &__water {
    @include type($bg-icon-water);
  }
}
