@import '~@angular/material/theming';
@include mat-core();

$dc-purple: (
    50: #f4e2f2,
    100: #e3b6df,
    200: #d185cb,
    300: #be52b7,
    400: #b022a8,
    500: #9f0099,
    600: #920095,
    700: #80008e,
    800: #6f0087,
    900: #50007b,
    A100: #f4e2f2,
    A200: #e3b6df,
    A400: #d185cb,
    A700: #be52b7,
    contrast: (
        50: rgba(white, 0.87),
        100: rgba(white, 0.87),
        200: rgba(white, 0.87),
        300: rgba(white, 0.87),
        400: rgba(white, 0.87),
        500: black,
        600: black,
        700: black,
        800: black,
        900: black,
        A100: rgba(white, 0.87),
        A200: rgba(white, 0.87),
        A400: rgba(white, 0.87),
        A700: rgba(white, 0.87)
    )
);

$dc-blue: (
    50: #e5f0f8,
    100: #c1d9f0,
    200: #9ec2e5,
    300: #7baadc,
    400: #6199d9,
    500: #4e89d6,
    600: #487cc8,
    700: #416bb6,
    800: #395aa4,
    900: #2c3d86,
    A100: #e5f0f8,
    A200: #c1d9f0,
    A400: #7baadc,
    A700: #9ec2e5,
    contrast: (
        50: rgba(white, 0.87),
        100: rgba(white, 0.87),
        200: rgba(white, 0.87),
        300: rgba(white, 0.87),
        400: rgba(white, 0.87),
        500: white,
        600: white,
        700: white,
        800: white,
        900: white,
        A100: rgba(white, 0.87),
        A200: rgba(white, 0.87),
        A400: rgba(white, 0.87),
        A700: rgba(white, 0.87)
    )
);

$dc-red: (
    50: #feebee,
    100: #fcced2,
    200: #eb9c9b,
    300: #e07675,
    400: #e95953,
    500: #ed4b3b,
    600: #df423a,
    700: #cd3833,
    800: #c0322d,
    900: #b02922,
    A100: #e07675,
    A200: #e95953,
    A400: #ed4b3b,
    A700: #df423a,
    contrast: (
        50: rgba(white, 0.87),
        100: rgba(white, 0.87),
        200: rgba(white, 0.87),
        300: rgba(white, 0.87),
        400: rgba(white, 0.87),
        500: white,
        600: white,
        700: white,
        800: white,
        900: white,
        A100: rgba(white, 0.87),
        A200: rgba(white, 0.87),
        A400: rgba(white, 0.87),
        A700: rgba(white, 0.87),
    )
);

$masterball-primary: mat-palette($dc-purple, A700);
$masterball-accent: mat-palette($dc-blue,A700);
$masterball-warn: mat-palette($dc-red, A700);

$masterball-theme: mat-light-theme($masterball-primary, $masterball-accent, $masterball-warn);
@include angular-material-theme($masterball-theme);

