:root {

  --white: #ffffff;
  --transparent-white:#ffffff82;

  --light-gray: #f5f5f5;
  --solid-gray: #8484a2;
  --transparent-gray: #0000001f;

  --light-red: #fc2e68;

  --solid-yellow: #f9be35;
}
