:root {

  --white: #ffffff;
  --transparent-white:#ffffff15;

  --light-gray: #f5f5f5;
  --transparent-gray:#ffffff82;

  --black: #000000;
  --transparent-black: #0000001f;

  --light-purple: #d988ff;
  --solid-purple: #be52b7;

  --light-blue: #9ec2e5;

}
