@mixin placeholder() {
  font-weight: 700;
  font-size: 1rem;
  color: var(--dark-gray);
}

.form {
  display: flex;
  background-color: var(--solid-gray);
  color: var(--dark-gray);
  border-radius: 30px;

  .search-field {
    border: none;
    padding: 0.75rem 0.75rem 0.75rem 3rem;
    font-size: 1rem;
    font-weight: 700;
    width: 100%;
    color: var(--dark-gray);

    background-image: url('../../../../assets/images/icons/search.svg');
    background-repeat: no-repeat;
    background-position: 1rem;
    background-color: transparent;
    background-size: 20px;
    background-position-y: center;

    &:focus {
      outline: 3px solid transparent;
    }

    &::placeholder {
      @include placeholder();
    }

    &::-webkit-input-placeholder {
      @include placeholder();
    }

    &::-moz-placeholder {
      @include placeholder();
    }

    &::-ms-placeholder {
      @include placeholder();
    }
  }

  input::-webkit-input-placeholder {
    @include placeholder();
  }
}
