.form {
  display: flex;
  background-color: #eaeaeb;
  color: var(--solid-gray);
  border-radius: 30px;

  .search-field {
    border: none;
    padding: 0.75rem 0.75rem 0.75rem 3rem;
    font-size: 1rem;
    font-weight: 700;
    width: 100%;

    background-image: url('../../../../assets/images/icons/search.svg');
    background-repeat: no-repeat;
    background-position: 1rem;
    background-color: transparent;
    background-size: 20px;
    background-position-y: center;

    &:focus {
      outline: 3px solid transparent;
    }

    &::placeholder {
      font-weight: 700;
      font-size: 1rem;
      color: var(--solid-gray);
    }
  }
}
