.button-filter {
  border-radius: 10px;
  padding: 0.25rem;
  margin: 0.25rem;
  border: none;
  background-color: transparent;
  width: 4rem;

  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;

  &:hover {
    -webkit-filter: invert(1);
    filter: invert(1);
  }
}

.filter {
  width: 1.5rem;
}
