.toolbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--white);

  &__title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Fredoka One";
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;

    &__image {
      width: 10rem;
      position: relative;
      opacity: 0.065;
      top: -1.65rem;
    }

    &__text {
      position: absolute;

      &__the {
        font-size: 0.75rem;
        color: var(--black);
      }

      &__master {
        font-size: 1.25rem;
        color: var(--solid-purple);
      }
    }

  }

}

@media screen and (min-width: 300px) {

  .toolbar {
    &__title {
      &__image {
        width: 10rem;
      }

      &__text {
        &__the {
          font-size: 1rem;
        }

        &__master {
          font-size: 1.5rem;
        }
      }
    }
  }
}

@media screen and (min-width: 950px) {

  .toolbar {
    justify-content: flex-end;

    &__menu {
      display: none;
    }
  }
}
