.toolbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--white);
  // border-bottom:solid 2px var(--light-gray);

  &__icon-pokemon {
    font-size: 16rem;
    position: fixed;
    top: -8rem;
    right: 12rem;
    z-index: 1000;
    color: var(--transparent-white);
  }

  &__title {
    background-size: 20rem;
    font-family: "Fredoka One";

    &__the {
      font-size: 1rem;
      color: var(--black);
    }

    &__master {
      font-size: 1.5rem;
      color: var(--solid-purple);
    }

    &:hover {
      cursor: pointer;
    }

    &__title:before{
      content: "\e508";
      font-family: "Material Icons";
    }
  }

}

@media screen and (min-width: 950px) {

  .toolbar {
    justify-content: flex-end;

    &__menu {
      display: none;
    }
  }
}
