.toolbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--white);
  color: var(--solid-gray);
  border-bottom:solid 2px var(--light-gray);

  h1 {
    font-family: "Fredoka One";
  }

  &__title {
    font-size: 1.5rem;

    &__poke {
      color: var(--light-red);
    }

    &__br {
      color: var(--solid-yellow);
    }

    &:hover {
      cursor: pointer;
    }
  }

}

@media screen and (min-width: 950px) {

  .toolbar {
    justify-content: flex-end;

    &__menu {
      display: none;
    }
  }
}
