<mat-toolbar class="toolbar">
  <button mat-icon-button class="toolbar__menu" aria-label="Menu" (click)="eventMenu()">
    <mat-icon>menu</mat-icon>
  </button>
  <div routerLink="/home">
    <mat-icon mat-list-icon alt="Pokédex" class="material-icons-two-tone toolbar__icon-pokemon">catching_pokemon</mat-icon>
    <h1 class="toolbar__title notranslate">
      <span class="toolbar__title__the">the </span>
      <span class="toolbar__title__master">MasterBall</span>
    </h1>
  </div>
</mat-toolbar>
