main {
  padding: 1rem;
}

.loading {
  position: fixed;
  top: 0;
}

header {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 1000;
}

.menu-container {
  position: absolute;
  left: -100vw;
  transition: .50s;

  &__active {
    left: 0;
    transition: .50s;
  }
}

@media screen and (min-width: 950px) {

  .grid-container {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    grid-column: 2;
    grid-row: 2;
  }

  header {
    grid-row: 1;
    grid-template-columns: auto;
    grid-template-rows: auto;
  }

  nav {
    position: static;
    grid-column: 1;
    grid-row: 1 / span 2;
  }

  main {
    grid-column: 2;
    padding: 2rem;
  }

  .menu-container {
    position: sticky;
    top: 0;
  }
}
