<div class="grid-container">
  <header class="header">
    <ng-container *ngIf="loading$ | async as loading">
      <mat-progress-bar mode="indeterminate" class="loading"></mat-progress-bar>
    </ng-container>
    <app-toolbar [openMenu]="openMenu" (menu)="receiveMenu($event)"></app-toolbar>
  </header>

  <nav class="nav">
    <div [ngClass]="openMenu? 'menu-container menu-container__active': 'menu-container'">
      <app-lateral-menu (closeMenu)="receiveCloseMenu($event)"></app-lateral-menu>
    </div>
  </nav>

  <main>
    <router-outlet></router-outlet>
  </main>
</div>
