.title-container {

  display: grid;
  grid-template-columns: 1fr 1fr auto;
  grid-template-areas: "title title title"
                       "search search filter";
  gap: 5px;
  margin-bottom: 1rem;

  &__title {
    font-family: "Fredoka One";
    grid-area: title;
  }

  &__search {
    grid-area: search;
  }

  &__filter {
    grid-area: filter;
  }
}

.cards-list {
  display: grid;
  grid-column: 1;
  gap: 1.25rem;
  margin-top: 1rem;
}

@media screen and (min-width: 700px) {
  .cards-list {
    display: grid;
    grid-column: 7;
    gap: 1.5rem;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1200px) {
  .cards-list {
    display: grid;
    grid-column: 3;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1700px) {
  .cards-list {
    display: grid;
    grid-column: 4;
    grid-template-columns: repeat(4, 1fr);
  }
}
