h1 {
  font-family: "Fredoka One";
}

.cards-list {
  display: grid;
  grid-column: 1;
  gap: 1.25rem;
}

@media screen and (min-width: 700px) {
  .cards-list {
    display: grid;
    grid-column: 7;
    gap: 1.5rem;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1200px) {
  .cards-list {
    display: grid;
    grid-column: 3;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1700px) {
  .cards-list {
    display: grid;
    grid-column: 4;
    grid-template-columns: repeat(4, 1fr);
  }
}
