.cards-list {
  display: grid;
  grid-column: 1;
  gap: 1.25rem;

}

@media screen and (min-width: 700px) {
  .cards-list {
    display: grid;
    grid-column: 7;
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 1200px) {
  .cards-list {
    display: grid;
    grid-column: 3;
    grid-template-columns: 1fr 1fr 1fr;

    .card-pokemon {
    }
  }
}
