<ng-container *ngIf="{ pokemons: pokemons$ | async, types: types$ | async } as infos">
  <div class="pokemon-home-container">

    <div class="title-container">
      <div class="title-container__title">
        <h1 class="notranslate title-container__title__text">Pokédex</h1>
        <span class="text-info text-info__desktop">{{textinfo}}</span>
      </div>

      <div class="title-container__filters">
        <app-search-field class="title-container__filters__search" placeholder="Search for a Pokémon" (search)="receiveSearch($event)"></app-search-field>
        <app-btn-filter-from-type class="title-container__filters__filter"></app-btn-filter-from-type>
      </div>

      <span class="text-info text-info__mobile">{{textinfo}}</span>
    </div>

    {{infos.pokemons?.length}}
    {{infos.pokemons}}
    <ng-container *ngIf="!!infos.pokemons?.length; else notPokemons">
      <div class="cards-list">
        <ng-container *ngFor="let pokemon of infos.pokemons">
          <app-card-pokemon [pokemon]="pokemon" class="card-pokemon"></app-card-pokemon>
        </ng-container>
      </div>

      <ng-container *ngIf="infos.pokemons && (infos.pokemons?.length ?? 0) < pokemonsCount && (infos.pokemons?.length ?? 0) > 1">
        <app-btn-view-more (clicked)="receivedClicked($event)"></app-btn-view-more>
      </ng-container>
    </ng-container>

    <ng-template #notPokemons>
      <div class="not-pokemon">
        <img class="not-pokemon__img" src="assets/images/icons/not-found.svg">
        <p class="not-pokemon__text">No Pokemon <span class="not-pokemon__text__pokemon">"{{searchValue}}"</span> found!</p>
      </div>
    </ng-template>
  </div>
</ng-container>

