.card {
  display: grid;
  padding: 0rem 0.5rem 0rem;
  border-radius: 20px;
  gap: 0.5rem;

  grid-row: 2;
  grid-column: 4;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto 1fr;
  grid-template-areas:"card-image card-title card-title card-title"
                      "card-image card-types card-id card-id";

  &__img {
    width: 10vh;
  }

  &__title {
    font-family: "Open Sans";
    font-weight: 700;
    font-size: 3.0vh;
    padding-top: 0.75rem;
  }

  &__id {
    font-size: 6.0vh;
    margin: 0;
    color: var(--transparent-white);
  }
}

.card-title {
  display: grid;
  grid-area: card-title;
  align-self: flex-end;
}

.card-image {
  grid-area: card-image;
}

.card-types {
  display: grid;
  grid-area: card-types;
  align-items: flex-start;
}

.card-id {
  display: flex;
  grid-area: card-id;
  align-items: flex-end;
  justify-content: flex-end;
}

@media screen and (min-width: 700px) {
  .card {
    &__img {
      width: 8vh;
    }

    &__title {
      font-size: 2vh;
    }

    &__id {
      font-size: 4.5vh;
    }
  }
}

@media screen and (min-width: 1200px) {
  .cards-list {
    display: grid;
    grid-column: 3;
    grid-template-columns: 1fr 1fr 1fr;

    .card-pokemon {
    }
  }
}
