@import './assets/scss/colors-pokemons-types.scss';
@import './assets/scss/custom-theme.scss';
@import './assets/scss/fredoka-one.scss';
@import './assets/scss/material-icons.scss';
@import './assets/scss/open-sans.scss';
@import './assets/scss/root-variables.scss';

html, body { height: 100%; margin: 0; overflow: hidden; }

.text-info {
  font-weight: 700;
  color: var(--dark-gray);
  font-size: 1rem;
}
